<h1>Редактирование статьи</h1>
<%= form_with model: @article do |form| %>
  <% @article.errors.full_messages.each do |error_msg| %>
    <div><%= error_msg %></div>
  <% end %>
  <div><%= form.label :title %></div>
  <div><%= form.text_field :title %></div>
  <div><%= form.label :body %></div>
  <div><%= form.text_area :body%></div>
  <div><%= form.label :birthdate %></div>
  <div><%= form.text_field :birthdate %></div>
  <div><%= form.label :deathdate %></div>
  <div><%= form.text_field :deathdate %></div>
  <div><%= form.label :birth_country %></div>
  <div><%= form.text_field :birth_country %></div>
  <div><%= form.label :birth_place %></div>
  <div><%= form.text_field :birth_place %></div>
  <div><%= form.label :death_country %></div>
  <div><%= form.text_field :death_country %></div>
  <div><%= form.label :death_place %></div>
  <div><%= form.text_field :death_place %></div>
  <div>Пример: [{"key": "Род деятельности", "value" : "Писатель" }, {"key": "Жанры", "value" : "Комедия, любовные, фантастика"}, {"key": "Годы активности", "value" : "1975-2010"}]</div>
  <div><%= form.label :resources %></div>
  <div><%= form.text_area :resources %></div>
  <div>Пример: [{"title": "Член ЦК КПСС А СССР", "start_date" : "1992", "end_date" : "2001", "predecessor" : "", "successor" : ""  }, {"title": "Министр труда А СССР", "start_date" : "14 января 2000", "end_date" : "24 сентября 2000", "predecessor" : "Ройс А. Б.", "successor" : "Сколов В.К."  }, {"title": "и. о. министра связи Антарктиды", "start_date" : "25 июня 2005", "end_date" : "31 августа 2005", "predecessor" : "", "successor" : ""  }, {"title": "Верховный председатель парламента Антарктиды", "start_date" : "7 февраля 2006", "end_date" : "15 ноября 2011", "predecessor" : "", "successor" : "должность упразднена"  }]</div>
  <div><%= form.label :duties %></div>
  <div><%= form.text_area :duties %></div>
  <div><%= form.submit %></div>
<% end %>