<h1>Статьи</h1>
<%= link_to("Создать новую статью", controller: "articles", action: "new") %>
<%@articles.each do |article| %>
  <div>---------------------------</div>
  <h2><%= link_to(article.title, article)  %><%= button_to('Удалить', article_path(article), method: :delete, data: { confirm: "Вы уверены?"}) %></h2>
  <h2><%= link_to('Редактировать', edit_article_path(article)) %></h2>
  <div><%= less_text(article.body, 20) %></div>
<% end %>


