<h1>Создание новой статьи</h1>
<%= form_with model: @article do |form| %>
  <% @article.errors.full_messages.each do |error_msg| %>
    <div><%= error_msg %></div>
  <% end %>
  <div><%= form.label :title %></div>
  <div><%= form.text_field :title %></div>
  <div><%= form.label :body %></div>
  <div><%= form.text_area :body%></div>
  <div><%= form.label :birthdate %></div>
  <div><%= form.text_field :birthdate %></div>
  <div><%= form.label :deathdate %></div>
  <div><%= form.text_field :deathdate %></div>
  <div><%= form.label :birth_country %></div>
  <div><%= form.text_field :birth_country %></div>
  <div><%= form.label :birth_place %></div>
  <div><%= form.text_field :birth_place %></div>
  <div><%= form.label :death_country %></div>
  <div><%= form.text_field :death_country %></div>
  <div><%= form.label :death_place %></div>
  <div><%= form.text_field :death_place %></div>
  <div><%= form.label :resources %></div>
  <div><%= form.text_area :resources %></div>
  <div><%= form.label :duties %></div>
  <div><%= form.text_area :duties %></div>
  <div><%= form.submit %></div>
<% end %>