<h1>Создание новой статьи</h1>
<%= form_with model: @article do |form| %>
  <% @article.errors.full_messages.each do |error_msg| %>
    <div><%= error_msg %></div>
  <% end %>
  <div><%= form.label :title %></div>
  <div><%= form.text_field :title %></div>
  <div><%= form.label :body %></div>
  <div><%= form.text_area :body, size: "100x40"%></div>
  <div><%= form.label :birthdate %></div>
  <div><%= form.text_field :birthdate %></div>
  <div><%= form.label :birth_place %></div>
  <div><%= form.text_field :birth_place %></div>
  <div><%= form.label :birth_country %></div>
  <div><%= form.text_field :birth_country %></div>
  <div><%= form.label :deathdate %></div>
  <div><%= form.text_field :deathdate %></div>
  <div><%= form.label :death_place %></div>
  <div><%= form.text_field :death_place %></div>
  <div><%= form.label :death_country %></div>
  <div><%= form.text_field :death_country %></div>

  <div><%= form.label :coordinates %></div>
  <div><%= form.text_field :coordinates %></div>
  <div><%= form.label :resources %></div>
  <div>Пример: [{"key": "Род деятельности", "value" : "Писатель" }, {"key": "Жанры", "value" : "Фантастика"}, {"key": "Годы активности", "value" : "1975-2010"}]</div>
  <section class="dynamic-fields-group-resources">
    <section class="dynamic-fields">
      <div class="single-dynamic-field-group">
        <label>Ключ</label>
        <textarea name="first" type="text" data-id="0" class="first-field"></textarea>
        <label>Значение</label>
        <textarea name="second" type="text" data-id="0" class="second-field"></textarea>
      </div>

    </section>
    <div>
      <button type="button" class="add-input-button">Добавить новое поле ввода</button>
    </div>
  </section>

  <div><%= form.text_area :resources, size: "100x10", hidden: true %></div>
  <div>Пример: [{"title": "Президент", "start_date" : "1989", "end_date" : "1995", "predecessor" : "Ленин", "successor" : "Сталин" }]</div>
  <section class="dynamic-fields-group-duties">
    <section class="dynamic-fields">
      <div class="single-dynamic-field-group">
        <label>Название</label>
        <textarea name="title" type="text" data-id="0" class="title-field"></textarea>
        <label>Дата начала</label>
        <textarea name="start_date" type="text" data-id="0" class="start_date-field"></textarea>
        <label>Дата окончания</label>
        <textarea name="end_date" type="text" data-id="0" class="end_date-field"></textarea>
        <label>Предшественник</label>
        <textarea name="predecessor" type="text" data-id="0" class="predecessor-field"></textarea>
        <label>Преемник</label>
        <textarea name="successor" type="text" data-id="0" class="successor-field"></textarea>
      </div>

    </section>
    <div>
      <button type="button" class="add-input-button">Добавить новое поле ввода</button>
    </div>
  </section>
  <div><%= form.text_area :duties, size: "100x10", hidden: true %></div>
  <div>Пример: [{"first": "Текст первого столбца", "second" : "Текст второго столбца", "third" : "Текст третьего столбца" }, {"first": "Текст первого столбца второй строки", "second" : "Текст второго столбца второй строки", "third" : "Текст третьего столбца" }]</div>
  <section class="dynamic-fields-group-columns">
    <section class="dynamic-fields">
      <div class="single-dynamic-field-group">
        <label>Текст столбца</label>
        <textarea name="first" type="text" data-id="0" class="column1-field"></textarea>
        <label>Текст столбца</label>
        <textarea name="second" type="text" data-id="0" class="column2-field"></textarea>
        <button type="button" data-id="0" class="add-column-button">Добавить новый столбец</button>
      </div>

    </section>
    <div>
      <button type="button" class="add-input-button">Добавить новое поле ввода</button>
    </div>
  </section>
  <div><%= form.text_area :columns_data, size: "100x10" %></div>
  <div><%= form.submit %></div>
<% end %>
<%= javascript_pack_tag 'articles/new-resources' %>
<%= javascript_pack_tag 'articles/new-duties' %>
<%= javascript_pack_tag 'articles/new-columns' %>