<h1>История правок</h1>
<h2>Название статьи: <%= @article.title %></h2>
<div>История действий:</div>
<table border="1" width="500vw" style="font-size:18px;">
  <tr>
    <th>Имя пользователя</th>
    <th>Тип действия</th>
    <th>Дата</th>
  </tr>
  <% History.where(article_id: @article.id).order(action_date: :desc).each do |record| %>

    <tr>
      <td>
        <% if User.exists?(record.user_id) %>
          <% u = User.find(record.user_id) %>
          <%= link_to(u.name, users_profile_path_path(u.id)) %>
        <% else %>
          <%= "Пользователь удален" %>
        <% end %>
      </td>
      <td>
        <% if record.action_type == 0 %>
          <%= "Создание" %>
        <% else %>
          <%= "Обновление" %>
        <% end %>
      </td>
      <td>
        <%= record.action_date.getlocal("+03:00").to_formatted_s(:db) %>
      </td>
    </tr>
  <% end %>



</table>
<h1><%= link_to('На главную', controller: "articles", method: "index") %></h1>