<%= form_with url: login_path do |form| %>

  <div><%= form.label :name, "Имя" %></div>
  <div><%= form.text_field :name %></div>
  <div><%= form.label :password, "Пароль" %></div>
  <div><%= form.text_field :password%></div>
  <div><%= form.submit "Войти" %></div>
<p>Hi</p>
<% end %>